body{
  background-image: url("https://i.pinimg.com/originals/ea/53/50/ea53502f7b5062d184b87d44ebfea1f2.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
#piedra{
  background-image: url("https://rwest88.github.io/Rock-Paper-Scissors/assets/images/rock.png");
  width: 150px;
  height: 150px;
  background-size: contain;
}
#papel{
  background-image: url("https://icon-library.com/images/spock-icon/spock-icon-3.jpg");
  width: 150px;
  height: 150px;
  background-size: contain;
}
#tijera{
  background-image: url("https://icon-library.com/images/rock-paper-scissors-icon/rock-paper-scissors-icon-5.jpg");
  width: 150px;
  height: 150px;
  background-size: contain;
}
#other{
  background-image: url("https://icon-library.com/images/rock-paper-scissors-icon/rock-paper-scissors-icon-6.jpg");
  width: 150px;
  height: 150px;
  background-size: contain;
}
#lagarto{
  background-image: url("https://icon-library.com/images/spock-icon/spock-icon-2.jpg");
  width: 150px;
  height: 150px;
  background-size: contain;
}
#p{
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 35px;
  color: white;
}
h1{
  font-family:monospace;
  text-align: center;
  color: white;
  font-size: 45px;
}
.hold{
  margin-left: 5%;
  margin-top: 10%;
}
.big{
  width: 70%;
  height: 500px;
  margin-left: 15%;
background-color: rgba(0,0,0,80%);
}
